# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env
.env.*

# React / Node
node_modules/
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# User uploaded profile images
media/profile_images/
